$qudos-black: #000000;
$qudos-lightgrey: #E6E6E6;
$qudos-grey: #B4B4B4;
$qudos-darkgrey: #676767;
$qudos-blue: #1F8DC6;
$qudos-darkblue: #232F41;
$qudos-greyborder: #DEE2E6;
$qudos-dark-gradient: linear-gradient(to right, #243249 0%, #282828 51%, #243249 100%);
$qudos-light-gradient: radial-gradient(at top right, #50C7E4, #238EC6);
$qudos-radial-gradient: radial-gradient(to right, #50C7E4 0%, #238EC6 51%, #50C7E4 100%);