.page__re--network {

    .top__nav {
        a {
            font-size: 22px;
        }
    }

    .filter {
        margin-top: 10px;
    }
    .qudosfaves__searchbar__re--network {
        .form-control-hover-icon {
            width: 34vw;
        }
    }

    .network__tabs {
        .results__content--re--network {
            .row {
                .user {
                    background-color: white;

                    .user__img {
                        overflow: visible;

                        img {
                            width: 95px;
                            height: 95px;
                        }
                    }

                    .user__meta {
                        .user__stats {
                            .heart-icon {
                                margin-right: 5px;
                                margin-bottom: 4px;
                                fill: #FF005D;
                            }

                            .star-icon {
                                margin-right: 3px;
                                margin-bottom: 5px;
                                fill: #FFC44D;
                            }
                        }
                    }
                }
            }

            .hidden-mobile {
                width: 100%;
            }
        }
    }
}